html {
    background-color: rgb(6, 1, 15);
}

span {
    color: white;
}

a {
    padding: 15px;
    color: white;
}

nav a:hover {
    background-color: red;
    border-radius: 3px;
}

nav {
    display: inline;
    float: right;
}

h1 {
    font-size: 45px;
    margin-top: 200px;
}

#title {
    height: 300px;
    color: white;
    text-align: center;
}

#first-img {
    background-image: url("images/picture1.jpg");
    height: 650px;
    background-size: cover;
    background-attachment: fixed;
}

#firstcar {
    background-color: black;
    opacity: 60%;
    border-top: solid 3px red;
    text-align: left;
    height: 322px;
    position: relative;
    top: 325px;
}

.box1 {
    float: left;
    color: white;
    width: 30%;
    margin-top: 50px;
    margin-left: 50px;
}

.box2 {
    float: left;
    color: white;
    width: 30%;
    margin-top: 50px;
}

.box3 {
    float: left;
    color: white;
    width: 30%;
    margin-top: 50px;
}

#second-img {
    background-image: url("images/picture2.jpeg");
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#secondcar {
    background-color: black;
    opacity: 60%;
    border-left: solid 4px rgb(6, 218, 189);
    text-align: left;
    height: 650px;
    width: 40%;
    position: relative;
    left: 800px;
}

.car2-descript {
    float: left;
    color: white;
    width: 70%;
    text-align: left;
    margin-left: 70px;
    margin-top: 200px;
}

.transparent {
    background-color: transparent;
    color: white;
    padding: 10px;
}

#third-img {
    background-image: url("images/picture3.jpg");
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#thirdcar {
    background-color: black;
    opacity: 60%;
    border-right: solid 4px rgb(6, 218, 189);
    text-align: left;
    height: 650px;
    width: 40%;
    position: relative;
}

.car3-descript {
    float: left;
    color: white;
    width: 70%;
    text-align: left;
    margin-left: 70px;
    margin-top: 200px;
}

#caption {
    color: rgb(173, 164, 164);
    text-align: center;
    margin-top: 50px;
    height: 650px;
}

#border {
    border-top: solid 2px rgb(255, 0, 98);
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.landmark-1 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
    margin-left: 100px;
}

.landmark-2 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
}

.landmark-3 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
}

.landmark-4 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
    margin-left: 100px;
}

.landmark-5 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
}

.landmark-6 {
    width: 25%;
    float: left;
    color: rgb(173, 164, 164);
    text-align: center;
    height: 150px;
    margin: 30px;
}

.fa-university {
    padding-top: 20px;
    background-color: rgb(173, 164, 164);
    width: 100px;
    height: 80px;
    color: black;
    border-radius: 60px;
}

#bottominput {
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 20px;
}

#email-bar {
    height: 200px;
    background-color: rgb(245, 35, 87);
    text-align: center;
    color: white;
    padding-top: 50px;
    margin-top: 50px;
}

#email {
    background-color: transparent;
    width: 300px
}

button {
    background-color: white;
    color: rgb(245, 35, 87);
}

.icon-bar {
    height: 100px;
    text-align: center;
    margin-top: 80px;
}

.icon-bar a {
    font-size: 20px;
    color: rgb(201, 193, 193);
}

footer {
    margin-top: 15px;
    color: rgb(201, 193, 193);
    text-align: center;
}