.div1 {
    border: dashed 5px red;
    text-align: center;
    width: 350px;
    height: 520px;
    margin: 100px;
    background-color: yellow;
}

#wanted {
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    text-decoration: underline overline;
}

.p1-4 {
    font-size: 26px;
    font-family: 'Anton', sans-serif;
}

.robot {
    background-color: white;
    border: solid 3px;
    width: 100px;
    padding: 10px;
}

.p2-3 {
    font-weight: bold;
}