    body {
        background-image: url("images/background.png");
        background-repeat: repeat-x;
        background-position: bottom;
        margin-bottom: 40vh;
    }
    
    #logo {
        display: block;
        width: 150px;
        margin-left: 150px;
    }
    
    .description {
        width: 80%;
        height: 350px;
        border-top: solid gray 2px;
        border-bottom: solid gray 2px;
        text-align: center;
        margin-left: 150px;
        background-color: white;
        opacity: 70%;
    }
    
    h2 {
        text-align: center;
        text-transform: uppercase;
    }
    
    p {
        text-align: left;
    }
    
    #greencolor {
        color: green;
    }
    
    #redcolor {
        color: red;
    }