body {
    margin: 0;
    background-image: url(images/bg.jpg);
    background-size: cover;
}

#title {
    color: white;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    position: relative;
    left: 6.5%;
}

#image-girl {
    /* position: relative; */
    /* width: max-content; */
}

#second-box {
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-weight: bold;
}

#second-box :last-child {
    text-transform: uppercase;
    opacity: 60%;
}

#third-box {
    background-color: #F7F6F4;
    text-align: justify;
    padding: 10vh;
}

#third-box p {
    opacity: 60%;
}

#img-box {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10vh;
}

#img-box :first-child {
    font-weight: bold;
}

#img-box :last-child {
    text-transform: uppercase;
}

#images-row {
    display: flex;
}

#images-row img {
    width: 50%;
    margin-bottom: 1vh;
}

#one {
    display: flex;
    text-align: justify;
    background-color: white;
    color: black;
    margin-bottom: -2%;
}

#one img {
    width: 100%;
}

#one .image {
    width: 49.88%;
}

#one .content {
    width: 40%;
    padding-top: 20vh;
    position: relative;
    left: 10vh;
    margin-right: 15vh;
}

.content :last-child {
    opacity: 60%;
}

#two {
    display: flex;
    background-color: black;
    color: white;
    text-align: justify;
    width: 100%;
    margin-bottom: -2%;
}

#two .content h3 {
    text-align: right;
}

#two img {
    width: 100%;
}

#two .image {
    width: 50%;
}

#two .content {
    width: 42%;
    padding-top: 20vh;
    position: relative;
    left: 10vh;
    margin-right: 15vh;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

footer a {
    color: white;
}

footer p :last-child {
    text-transform: uppercase;
}