body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    display: flex;
    background-color: #F4511E;
}

.logo {
    color: white;
    text-decoration: none;
    position: relative;
    left: 20%;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 14px;
}

#header nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#hiden-menu {
    display: none;
}

#header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    position: relative;
    right: 20%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4511E;
    color: white;
}

#banner span {
    font-size: 45px;
    margin-top: 5%;
}

#subscribe {
    display: flex;
    margin-bottom: 7%;
}

#subscribe input {
    color: gray;
    padding: 3px;
    border: none;
    border-radius: 2px;
    width: 150vh;
}

#subscribe button {
    color: white;
    background-color: #D9534F;
    border: none;
    padding: 3px;
}

#aboutcompany {
    display: flex;
}

.descript {
    padding: 30px;
    padding-top: 50px;
    width: 70%;
    opacity: 70%;
}

h3 {
    text-transform: uppercase;
}

.descript span {
    text-transform: uppercase;
    font-weight: bold;
}

.descript input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    margin-top: 2%;
}

#fontsize {
    font-size: 10px;
    opacity: 70%;
}

.icon {
    padding: 30px;
    width: 30%;
    color: #F4511E;
    font-size: 150px;
}

#ourvalues {
    display: flex;
    background-color: #F6F6F6;
}

#services {
    text-align: center;
    opacity: 90%;
}

#objects-row {
    display: flex;
}

#objects-row div {
    margin-left: 39vh;
    margin-bottom: 8vh;
    color: gray;
}

#objects-row i {
    color: #F4511E;
    font-size: 30px;
}

#contact {
    display: flex;
    background-color: #F6F6F6;
    opacity: 60%;
}

#aboutus {
    width: 40%;
    padding-top: 12vh;
    padding-left: 5vh;
}

#contactus {
    width: 60%;
}

#contactus h3 {
    margin-top: 10vh;
    margin-left: 9%;
}

#contactus input {
    border-radius: 2px;
    border: solid 1px gray;
    color: gray;
    margin-right: 1%;
    width: 62vh;
    margin-bottom: 2%;
}

#contactus textarea {
    border-radius: 2px;
    border: solid 1px gray;
    color: gray;
    margin-bottom: 2%;
}

#contactus button {
    background-color: white;
    border: solid 1px gray;
    border-radius: 2px;
    float: right;
    position: relative;
    right: 8.5%;
    margin-bottom: 10vh;
}

footer {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    color: gray;
}

footer a {
    color: blue;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    #subscribe input {
        width: 50vh;
    }
    #objects-row div {
        margin-left: 7vh;
    }
    #subscribe input {
        width: 50vh;
    }
    #contactus input {
        width: 15vh;
    }
    #message {
        width: 31vh;
    }
    #contactus button {
        position: relative;
        margin-right: 16%;
    }
    footer {
        padding: 0%
    }
}

@media screen and (max-width: 425px) {
    #header nav a {
        display: none;
    }
    .logo {
        position: relative;
        left: 0;
    }
    #hiden-menu {
        margin-top: 2%;
        margin-right: 2%;
        display: block;
        color: white;
        font-size: 25px;
    }
    #subscribe input {
        width: 15vh;
    }
    #aboutcompany {
        display: block;
    }
    .descript {
        width: 80%;
    }
    .icon {
        text-align: center;
        width: 80%;
    }
    #ourvalues {
        display: block;
    }
    #services {
        font-size: 20px;
    }
    #objects-row {
        display: flex;
        flex-wrap: wrap;
    }
    #objects-row div {
        margin-left: 8vh;
        font-size: 20px;
    }
    #objects-row i {
        font-size: 50px;
    }
    #contact {
        display: block;
    }
    #aboutus {
        width: 100%;
    }
    #contactus {
        width: 100%;
        margin-left: 5vh;
    }
    #contactus h3 {
        margin-left: 0;
        font-size: 20px;
    }
    #contactus input {
        width: 35vh;
    }
    #message {
        margin-top: 3vh;
        width: 35vh;
        height: 20vh;
    }
    footer {
        margin-top: 3vh;
        margin-left: 5vh;
    }
}