html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(65, 62, 62);
    color: white;
    font-size: 15px;
}

h1 {
    font-size: 55px;
    color: lightblue;
}

.color-blue {
    color: lightblue;
    font-size: 25px;
}

.color-yellow {
    color: #f9d147;
}

.p1 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.italic {
    font-style: italic;
}

a {
    color: red;
}

.border {
    border: solid 1px red;
    width: 100px;
}