body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

.logo {
    color: black;
    letter-spacing: 6px;
    padding: 15px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

#img-01 {
    width: 100%;
}

section div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
}

#img h3 {
    padding: 25px;
}

#images {
    width: 20%;
    margin: 1%;
}

#flex-container div img {
    width: 85%;
}

#flex-container {
    display: flex;
}

#flex-container div {
    display: block;
}

#contact-us {
    padding-left: 30px;
}

hr {
    border-bottom: gray 1px solid;
}

input {
    margin-bottom: 1%;
    padding: 10px;
    opacity: 50%;
    width: 95%;
}

button {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
}

button:hover {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: 5%;
}

footer p {
    color: white;
}

footer p span {
    border-bottom: solid 1px;
}

#project-images {
    margin-left: 10%;
}