    body {
        background-image: url("images/background.png");
        background-repeat: repeat-x;
        background-position: bottom;
    }
    
    #logo {
        display: block;
        width: 150px;
        margin-left: 300px;
    }
    
    #fruits {
        float: left;
        width: 300px;
        height: 20px;
        background-color: rgb(8, 151, 8);
        border-radius: 5px;
        margin-left: 50vh;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        padding-top: 10px;
        font-family: 'Averia Libre', cursive;
    }
    
    #vegetables {
        float: right;
        width: 300px;
        height: 20px;
        background-color: red;
        border-radius: 5px;
        margin-right: 50vh;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        padding-top: 10px;
        font-family: 'Averia Libre', cursive;
    }
    
    .greenapple:hover {
        background-color: green;
        color: white;
    }
    
    .greenapple {
        float: left;
        width: 300px;
        height: 140px;
        background-color: rgb(197, 191, 191);
        color: green;
        border-radius: 5px;
        text-align: center;
        margin-left: 50vh;
        margin-top: 15px;
    }
    
    .redapple:hover {
        background-color: red;
        color: white;
    }
    
    .redapple {
        float: right;
        width: 300px;
        height: 140px;
        background-color: rgb(197, 191, 191);
        color: red;
        border-radius: 5px;
        text-align: center;
        margin-right: 50vh;
        margin-top: 15px;
    }
    
    #imgapple {
        float: left;
        width: 40%;
        margin: 10px;
    }
    
    .pclass {
        text-align: left;
        font-size: 9px;
    }
    
    h4 {
        text-align: left;
        text-transform: uppercase;
        font-family: 'Averia Libre', cursive;
    }