.top {
    background-color: gray;
    height: 150px;
}

.little {
    background-color: gray;
    height: 100px;
}

.big {
    background-color: gray;
    height: 500px;
}

.bigger {
    background-color: gray;
    height: 750px;
}

.empty {
    height: 100px;
}