html {
    /* text-align: center; Go trgnav ova zatoa sto na celiot fajl ne ti treba text-align center go izmestuva naslovot */
    /* font-family: 'PT Serif', serif; */
}

h1 {
    color: gray;
    margin-top: 100px;
    margin-left: 45%;
    /* So ovoj margin-left go butkam, za da dojde otprilika na sredina na tabelata */
}

.class-1 {
    border: solid 1px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(130, 236, 127);
    color: white;
    font-style: italic;
}

.class-2 {
    border: solid rgb(130, 236, 127) 1px;
    padding: 10px;
}

th:hover {
    background-color: red;
    color: white;
    /* Bojata na bukvite treba da bide bela */
}

table {
    margin-left: 430px;
}