body {
    background-image: url("images/background.png");
    background-position: bottom;
    background-repeat: repeat-x;
    margin-bottom: 210px;
}

#logo {
    width: 150px;
    margin-left: 220px;
}

.border {
    border-top: solid black 2px;
    width: 900px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact {
    background-color: white;
    opacity: 70%;
    height: 400px;
}

textarea {
    width: 350px;
    border-radius: 10px;
    border-color: rgb(38, 241, 38);
}

input {
    margin: 5px;
    width: 350px;
    border-radius: 15px;
    border-color: rgb(38, 241, 38);
}

#submit {
    background-color: rgb(38, 241, 38);
    width: 350px;
    color: white;
}